@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Khmer:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Sans Khmer", system-ui, sans-serif;
  background-color: #f3f4f6; /* gray-100 */
}
